<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/Content/style.css">

    @*@Styles.Render("~/Content/style.css")*@

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <!--<header class="header">

        <div class="header-1">

            <a href='@Url.Action("Index","Home")' class="logo"> <i class="fas fa-book"></i> Read N Learn </a>

            <form action="" class="search-form">
                <input type="search" name="" placeholder="search here..." id="search-box">
                <label for="search-box" class="fas fa-search"></label>
            </form>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href='@Url.Action("Carts","Products")' class="fas fa-shopping-cart"></a>
                <div id="login-btn" class="fas fa-user"></div>-->
                @*<a href='@Url.Action("Signup","Accounts")'  class="fas fa-user"></a>*@
            <!--</div>

        </div>
        <div class="header-2">
            <nav class="navbar">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Coupons", "Coupons", "Products")
                @Html.ActionLink("Books", "BookList", "Home")
            </nav>
        </div>

        <div class="login-form-container">

            <div id="close-login-btn" class="fas fa-times"></div>

            <form action="">
                <h3>sign in</h3>
                <span>username</span>
                <input type="email" name="" class="box" placeholder="enter your email" id="">
                <span>password</span>
                <input type="password" name="" class="box" placeholder="enter your password" id="">
                <div class="checkbox">
                    <input type="checkbox" name="" id="remember-me">
                    <label for="remember-me"> remember me</label>
                </div>
                <input type="submit" value="sign in" class="btn">
                <p>forget password ? <a href="#">click here</a></p>
                <p>don't have an account ? <a href='@Url.Action("Signup","Accounts")'>create one</a></p>
            </form>

        </div>


    </header>-->

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <section class="footer">



                <div class="credit"> created by <span>ATOS team .NET</span> | all rights reserved! </div>

            </section>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
